{% extends 'base.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	<div class="position-relative d-grid justify-content-center align-items-center mx-auto mb-5" style="max-width: 720px; height: 620px;">
		<div class="position-absolute z-3 top-0 mt-5 d-flex align-items-center justify-content-between w-100" style="height: 230px;">
			<img src="./src/assets/medias/cloud.png" alt="cloud 1" class="shadow-lg" style="filter: brightness(1.25); animation: cloud-move 5s infinite; width: 180px;">
			<img src="./src/assets/medias/cloud.png" alt="cloud 2" class="shadow-lg" style="filter: brightness(1.25); animation: cloud-move 5s infinite; width: 100px;">
			<img src="./src/assets/medias/cloud.png" alt="cloud 3" class="shadow-lg" style="filter: brightness(1.25); animation: cloud-move 5s infinite; width: 80px;">
			<img src="./src/assets/medias/cloud.png" alt="cloud 4" class="shadow-lg" style="filter: brightness(1.25); animation: cloud-move 5s infinite; width: 150px;">
		</div>
		<!-- Clouds -->
		<div class="position-absolute z-2" style="bottom: -64px;">
			<img src="../src/assets/medias/dailytrip.svg" alt="logo dailytrip" class="w-100 h-100">
		</div>
		<!-- Logo -->
		<div class="position-absolute bg-white rounded-pill blur z-1" style="bottom: -28px; width: 11rem; height: 18rem;"></div>
		<!-- Background -->
		<div class="position-relative z-1 w-100 h-100"></div>
		<div class="position-absolute z-0" style="left: 48px; width: 280px; height: 400px; background-image: url('./src/assets/medias/images/vtt.jpg'); background-size: cover; background-position: center; border-radius: 1rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"></div>
		<!-- Image Top -->
		<div class="d-flex justify-content-between align-items-center position-absolute w-100" style="bottom: 0;">
			<div class="z-0" style="width: 280px; height: 400px; background-image: url('./src/assets/medias/images/roadtrip.jpg'); background-size: cover; background-position: center; border-radius: 1rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"></div>
			<!-- Image left -->
			<div class="z-2" style="width: 280px; height: 400px; background-image: url('./src/assets/medias/images/desert.jpg'); background-size: cover; background-position: center; border-radius: 1rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"></div>
			<!-- Image right -->
		</div>
	</div>
{% endblock %}
