body{
    background-color: #F8FAFC;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Condensed", sens-serif;
    letter-spacing: .01rem;
    color: #0C274E;
}

.h-1{height: 1rem;}
.h-2{height: 1.5rem;}
.h-3{height: 1.95rem;}
.h-4{height: 2.25rem;}
.h-5{height: 2.85rem;}
.h-6{height: 3rem;}

.w-1{width: 1rem;}
.w-2{width: 1.5rem;}
.w-3{width: 1.95rem;}
.w-4{width: 2.25rem;}
.w-5{width: 2.85rem;}
.w-6{width: 3rem;}

ul.pagination{
    gap: 1rem;
    margin: auto;
    width: fit-content;
}